<div style="min-width: 200px;">
    <h6>{{ practiceName }}</h6>
    <p class="mb-1">
        <small>{{ address }}</small>
    </p>
    <div class="row text-center">
        <div class="col-4">
            <strong>{{ patientCount }}</strong>
            <br>
            <small>Patients</small>
        </div>
        <div class="col-4">
            <strong>{{ gpCount }}</strong>
            <br>
            <small>GPs</small>
        </div>
        <div class="col-4">
            <strong>{{ ratio }}</strong>
            <br>
            <small>Ratio</small>
        </div>
    </div>
</div>
